main{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    /* gap: 20px; */
    width: 100%;
    height: 100%;
}
.teamMemembers{
    width: 100%;
    height: 100%;
    /* color: black; */
}
#member :hover{
    background-color: aqua;
    /* width: 50px;
    height: 50px; */
}

img{
    width: 200px;
    height: 200px;
    /* border-radius: 50%; */
}
.teamMemembers img{
    border-radius: 50%;
}

/* #member img :hover{
   background-color: aqua;
} */